@media (min-width: 1020px) {
  /* short forms from og site  */
  .g4 {
    display: block;
    height: 80px;
  }
  .cd {
    display: none;
  }
  /* short forms from og site  */
  .menuSvg {
    display: none;
  }
  .profile-icon {
    display: none;
  }
  .sectionBanner {
    display: flex;
    align-items: center;

    position: relative;
    background: url(../asstes/images/desktop-Banner.webp);
    background-size: cover;
    background-position: center;
  }
  .container-banner {
    display: none;
  }
  .login-button {
    display: inline-flex;
    color: #000;
    height: 36px;
    background-color: #fff;
    padding: 12px;
    border-radius: 500px;
    font: 14px var(--UberMoveText-1);
    margin: 0 16px 0 0;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    line-height: 16px;
    box-sizing: border-box;
  }
  .sign-up-button {
    margin-right: 40px;
  }
  .sign-up-button-nav {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 36px;
    background-color: #000;
    color: #fff;
    padding: 9px 16px;
    border-radius: 20px;
    font: 14px var(--UberMoveText-1);
    box-sizing: border-box;
    margin-left: 28px;
  }
  #navbar1 .sign-up-button {
    margin-right: 40px;
  }
  .navbar {
    /* background: #fff; */
    width: 100%;
    height: 64px;
    padding: 0;
    position: absolute;
    top: 0;
  }
  .navHeader {
    padding: 0 0 0 40px;
    margin-left: -6px;
    height: 16px;
    width: auto;
  }
  /* nav header is pakka  dont fu**** touch it  */

  .container-lg-child {
    display: flex;
  }
  .banner-text {
    font: 52px var(--UberMoveText-3);
    line-height: 64px;
    margin: 0 0 40px 0;
  }
  .search-here {
    /* margin: 10px 10px; */
    margin: 0;
    padding: 18px 16px;
  }

  .container-lg {
    display: block;

    max-width: 1920px;
    min-width: 1024px;
    padding: 0 40px;
  }
  .delivery-address-box {
    min-width: 500px;
    max-width: 540px;
  }
  .orsignin {
    margin-top: 24px;
  }
  .mobile-app {
    display: none;
  }
  .bussiness-with-ubereats-flex {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 80px 24px -13px 0;
  }
  .img-bussiness {
    width: 100%;
    margin-bottom: 6px;
  }
  .container-bussiness {
    margin: 0;
    margin-right: 24px;
  }
  .bussiness-header {
    font: 28px var(--UberMoveText-3);
    margin-bottom: 8px;
  }
  .bussiness-sub-header {
    font: 16px var(--UberMoveText-6);
    text-decoration: underline;
    line-height: 20px;
    letter-spacing: 0.49px;
  }
  .view-all-500-cities {
    display: inline-flex;
    align-items: end;
  }
  .view-all-500-cities-des {
    font: 16px var(--UberMoveText-1);
    line-height: 20px;
    text-decoration: underline;
  }
  .cities-near-me-text-des{
    font: 36px var(--UberMoveText-3);
    line-height: 44px;
  }
  .vac {
    align-items: center;
  }
  .cities-near-me {
    margin: 0 40px;
  }

  .cities-near-me-text {
    font-size: 36px;
  }
  .city {
    display: block;
  }
  .cities-near-me-img-desktop {
    width: 100%;
    margin: 24px 0;
    display: block;
    object-fit: cover;
    height: 360px;
  }
  .cities-near-me-img-mobile {
    display: none;
  }
  .countries-near-me-flex{
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  .dk {
    display: block;
  }
  .cities-near-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cities-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column;
  }
  .store-flex{
    margin-bottom: 1px;
  }
  .country-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    grid-template-rows: repeat(8, 1fr);
    grid-auto-flow: column;
  }
  .footer-flex{
    display: flex;
    margin-bottom: -1px;
  }
  .sm {
    display: none;
  }
  .footer {
    max-width: 1280px;
    padding: 72px 40px 88px 40px;
    min-width: 1024px;
    margin: 80px auto 0 auto;
    box-sizing: border-box;
  }
  .footer-logo {
    margin: 0 0 80px 0;
  }
  .c1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .social-icons {
    align-items: start;
    margin-bottom: 0;
  }
  .fl {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .f2 {
    flex: 2;
  }
  .f1 {
    flex: 1;
  }
  .c2 {
    margin-bottom: 0;
  }
  .c3 {
    margin-bottom: 0;
  }
  .c4 {
    display: flex;
  }
  .footer-text-14 {
    margin-right: 40px;
  }
  .c5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .banner-bar {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
  .banner-bar-1 {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    gap: 16px;
    height: 56px;
    padding: 8px 16px;
    width: 500px;
    max-width: 540px;
  }
  .bar-1-text {
    font-size: 16px;
    font-family: var(--UberMoveText-1);
    color: #000;
  }

  .banner-bar-2 {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 15px;
    gap: 12px;
    height: 56px;
  }
  .clock-icon {
    height: 24px;
  }
  .banner-2-text {
    font: 16px var(--UberMoveText-1);
  }
  .c4 {
    justify-content: flex-end;
  }
  .footer-text:last-child {
    margin-bottom: 0px;
  }
  .arrow-down-icon {
    height: 24px;
    position: relative;
    left: 3px;
    margin-left: 2px;
  }
  .hkhjfebs {
    margin: 40px 0;
    background-color: #f3f3f3;
    height: 1px;
    border: none;
  }

  .footer-text-14 {
    margin: 0 40px 0 0;
  }
  .last-element {
    margin: 0 40px 0 0;
  }
  .footer-text-14:last-child {
    margin: 0;
  }
}
